header {
    color: white;
}

h1 {
    background-color: #004175;
    border-bottom: 3px solid #89deef;
    font-family: Open Sans, Oswald;
    color: white;
    padding: 15px;
    font-size: 120%;
    padding-left: 30px;
}

h2 {
    background-color: white;
    font-family: Open Sans, Oswald;
    color: black;
    font-size: 110%;
    padding-left: 30px;
}

body {
    font-family: open sans;
}

.adoptform {
    font-size: 25%;
    font-family: open sans;
    padding-left: 30px;
}

.traits {
    display: flex;
    /* need this to activate flex  */
    justify-content: flex-start;
    flex-wrap: wrap;

}

.traits>p {
    /* selects children of a class  */
    background-color: #89DEEF;
    padding: 10px;
    margin: 0px 10px 10px 0px;
    /* top right bottom left like a clock  */
    border-radius: 25px;
    /* controls the roundness or sharpness of the box  */
    font-size: 50%;
}


#dog-container {
    /* selects id */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}

.dog {
    width: 32%;
}

img {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

nav {
    display: flex;
    width: 100%;
}

.container {
    width: 32%;
    position: relative;
    text-align: center;
    color: white;
}

.container>img {
    height: 100%;
    object-fit: 100%;
}

.donate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: rgba(166, 169, 240, .6);
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
    transform: translate(-50%, -50%)
}